@font-face{font-family:'utm_avo';src:url(../fonts/font-face/UTM_Avo.woff);font-weight:400}
@font-face{font-family:'utm_avo';src:url(../fonts/font-face/UTM_AvoBold.woff);font-weight:700}
@font-face{font-family:'utm_avo';src:url(../fonts/font-face/UTM_AvoBold_Italic.woff);font-weight:600}
@font-face{font-family:'utm_avo';src:url(../fonts/font-face/UTM_AvoItalic.woff);font-weight:500}